/* classes below here - ex) header, footer, etc */
body {
    background-image: url("./assets/images/circles-light.png"); /*?*/
    width: 960px;
    
}

.navbar {
    border: 10px solid salmon;
    width: 100%;
    height: 85px; 
    float: left;
}

.title {
    border: 5px solid brown;
    text-align: center;
    width: 300px

}

footer {
    width: 100%;
}
.pages {
    border: 5px solid lightblue;
    padding: 30px;
    width: 200px;
    
    margin: 0 0 0 0;
}

.abt {
    width: 50px;
    float: left;
    margin: 0 0 0 0px;
}

.port {
    width: 60px;
    float: right;
}

.cont {
    width: 55px;
    float: right;
    margin: 0 20px 0 0;
}

.contactme {
    border: 10px solid skyblue;
    width: 270px;
    float: right;
    clear: left;
    margin: 20px 0px 20px 20px;
}

.cntme {
    border-bottom: 3px solid #ebebeb;
    text-align: center;
}

.buttons {
    height: 50px;
    margin: 10px 0 0 0;
}

aside {
    margin: 35px 0 0 0;
}

.git {
    height: 50px;
    width: 50px;
    float: right;
    margin: 0 57px 0 5px;
}

.linked {
    height: 50px;
    width: 50px;
    float: right;
    margin: 0 0 0 5px;
}

.stack {
    height: 50px;
    width: 50px;
    float: right;
}


.foot {
    border: 5px solid slateblue;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.copyright {
    border: 5px solid salmon;
    text-align: center;
}

/* index.html id's below here */
#mcont {
    border: 10px solid black;
    width: 960px;
    height: 500px;
    margin: 20px 0 0 0;
    clear: both;
}

#sect {
    background-color: aquamarine;
    border: 5px solid slateblue;
    height: 400px;
    width: 650px;
    float: left;

}

#aboutme {
    border-bottom: 3px solid #ebebeb;
    width: 93%;
    height: 50px;
    margin: 0 0 20px 20px;
}

#selfie {
    width: 150px;
    height: 200px;
    float: left;
}

#bio {
    border: 5px solid black;
    width: 350px;
    float: left;
    margin: 0 0 0 15px;
}

/* portfolio.html id's below here */
#main {
    
}

#phc {

}

#ph {

}

#placeholder {

}

#phc1 {

}

#ph1 {

}

#placeholder1 {

}

#phc2 {

}

#ph2 {

}

#placeholder2 {

}

#phc3 {

}

#ph3 {

}

#placeholder3 {

}

#phc4 {

}

#ph4 {

}

#placeholder4 {

}

/* contact.html id's below here */

#contact {
    border: 5px solid black;
    clear: both;
}

#n {

}

#name {

}

#e {

}

#mail {

}

#m {

}

#msg {
    
}